
<!-- <button (click)="postParent()">CLick</button>
<app-chidapp [parentData]="sendChild" (dataToParent)="receiveDataFromChild($event)"></app-chidapp>
<p>{{fromChild}}</p>
<router-outlet />

<button routerLink="/component-one">GO TO One</button>
<hr>
<app-componentone></app-componentone>
<hr>


@defer (on viewport; prefetch on idle) {
    <app-componenttwo></app-componenttwo>
  } @loading {
    Loading…
  } @error {
    Loading failed 
  }  @placeholder {
    <img src="../assets/download (2).png">
} -->

<!-- <app-viewchildone></app-viewchildone> -->

<!-- <app-signalone></app-signalone> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-templateform></app-templateform> -->
<app-methods></app-methods>
<router-outlet />